#end{
    background: url("./img/footerbg.jpg");
    height: 564px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a{
        color: white;
    }

    img{
        border: 1px gray solid;
        padding: 12px 18px;
        border-radius: 22px;
        width: 20px;
        height: 20px;
    }

    hr{
        color: white;
        background: url("./img/wavew.svg");
        height: 12px;
        width: 45px;
        margin-bottom: 30px;
    }

    img:hower{
        -moz-box-shadow: 0 0 4px #ccc;
        -webkit-box-shadow: 0 0 4px #ccc;
        box-shadow: 0 0 4px #ccc;
    }

   .footerNav{
       display: flex;
       justify-content: space-around;
       margin: 60px auto 10px;
       
       .contactus, .findus, .followus{
           max-width: 30%;
           text-align: center;
       }
   }

   .copyright{
       margin: 10px 160px;
       color: gray;
   }
}
