#toInvestors{
    background: url("./img/toinvestorsbg.jpg") no-repeat;
    height: 500px;
    color: white;
    
    .h2investors{
        text-align: center;
        letter-spacing: 7px;
        padding-top: 20px;
        

        .h2strong{
            font-size: 60px;
            font-weight: bold;
        }
    }

    .flexcontainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 900px;
        margin: 10px auto;

        .flexleft{
            min-width: 320px;
            max-width: 40%;
        }

        .flexright{
            min-width: 320px;
            max-width: 40%;
        }
    }
}
